html {
    box-sizing: border-box
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.conteiner {
    width: 901px;
    margin: 0 auto;
}
.main-menu-item {
    font-family: "Playfair Display", serif;
    color: #626262; 
    font-size: 20px;
    line-height: 24px;
    font-weight: 400px;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 100px; 
      
}
.main-nav li:last-child {
    margin-right: 0;
}
.main-nav {
    height: 168px;
    margin-top: 77px;
    
    text-align: center;
    vertical-align:middle;
}
.main-list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.content-item {
    width: 420px;
    display: inline-block ;
    margin-right: 61px;
    margin-bottom: 130px;
}
.content-item:nth-child(2n) {
    margin-right: 0;
}

p.subject {
    font-family: "Ubuntu", sans-serif; 
    color: #b4ad9e; 
    font-size: 14px;
    font 300;
    line-height: 16px;  
    margin-bottom: 32px;      

}
.text {
    font-family: "Playfair Display", serif; 
    font-size: 14px;    
    line-height: 24px;
    font-weight: 400;
    }
.caption {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-weight: 400;
    line-height: 16px;
    
}
.content-item h2 {  
margin-bottom: 38px;

}

.main-button {
    width: 165px;
    height: 80px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 50% ;
}

